NET clock				LOC = V10;
NET n_enable			LOC = C4;
NET reset				LOC = A8;
NET n_start				LOC = D9;
NET debug				LOC = N8;
NET m_clk_btn			LOC = B8;
NET select_y<0>		LOC = T10;
NET select_y<1>		LOC = T9;
NET select_y<2>		LOC = V9;
NET select_y<3>		LOC = M8;
NET display_atog<0>	LOC = T17;
NET display_atog<1>	LOC = T18;
NET display_atog<2>	LOC = U17;
NET display_atog<3>	LOC = U18;
NET display_atog<4>	LOC = M14;
NET display_atog<5>	LOC = N14;
NET display_atog<6>	LOC = L14;
NET display_dp			LOC = M13;
NET display_an<0>		LOC = N16;
NET display_an<1>		LOC = N15;
NET display_an<2>		LOC = P18;
NET display_an<3>		LOC = P17;
